/* Add this to your styles.css or relevant file */

/* Basic navbar styling */
.navbar {
    background-color: #060c16;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  /* Logo Brand Name Styling */
  .brand-name {
    font-size: 34px !important;
    font-weight: bold !important;
    color: #f2f6f9 !important;
    font-family: Helvetica, sans-serif !important;
    letter-spacing: 1px; /* adds breathing space between letters */
    transition: color 0.3s; /* smooth hover effect */
  }
  
  .brand-name:hover {
    color: #1a1a5e; /* slightly lighter/different shade on hover */
    cursor: pointer;
  }
  
  

/* Navbar link styles */
.navbar-links li a {
  color: #e6ebf3; /* White text */
  font-size: 1.1rem;
  text-decoration: none;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

/* Hover effect for links */


  .navbar-links {
    display: flex;
    list-style: none;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-links a:hover {
    color: #dfb407;
  }
  
  .auth-links,
  .customer-links,
  .technician-links,
  .admin-links {
    display: flex;
  }
  
  .auth-links a,
  .customer-links a,
  .technician-links a,
  .admin-links a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
  }
  
  .auth-links a:hover,
  .customer-links a:hover,
  .technician-links a:hover,
  .admin-links a:hover {
    color: #ffcc00;
  }
  
  .logout a {
    color: white;
    text-decoration: none;
  }
  
  .logout a:hover {
    color: #ffcc00;
  }
  